@model Lcw_GraduationProject.UI.Models.Product.VM_Get_Product

<div class="d-flex align-items-center mb-4 pt-2">
    <div class="d-flex mb-3">
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#giveOffer">
            Give Offer
        </button>
        <div class="modal fade" id="giveOffer" tabindex="-1" role="dialog" aria-labelledby="">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <form method="post" asp-action="Index" asp-controller="Offer" asp-route-productId="@Model.Id">
                        <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="size-1" name="price" value=@Decimal.Multiply(Convert.ToDecimal(Model.Price),0.5m)>
                        <label class="custom-control-label" for="size-1">50%</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="size-2" name="price" value=@Decimal.Multiply(Convert.ToDecimal(Model.Price),0.6m)>
                        <label class="custom-control-label" for="size-2">60%</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="size-3" name="price" value=@Decimal.Multiply(Convert.ToDecimal(Model.Price),0.7m)>
                        <label class="custom-control-label" for="size-3">70%</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="size-4" name="price" value=@Decimal.Multiply(Convert.ToDecimal(Model.Price),0.8m)>
                        <label class="custom-control-label" for="size-4">80%</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="size-5" name="price" value=@Decimal.Multiply(Convert.ToDecimal(Model.Price),0.9m)>
                        <label class="custom-control-label" for="size-5">90%</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="size-6" >
                        <label class="custom-control-label" for="size-6"><input type="number" name="price" min="1" max="@Model.Price" placeholder="..." /></label>
                        </div>
                        <button  type="submit" class="btn btn-primary px-3"><i class="fa fa-handshake mr-1"></i> Give Offer </button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
